# .gitignore pulito per Progetti Python

# Ambienti Virtuali (CRUCIALE: NON VANNO MAI COMMITTATI)
# Questo esclude la cartella di attivazione 'esercizi' che usi come venv
/esercizi
.venv/
venv/
env/

# Bytecode e file di sistema generati da Python
__pycache__/
*.pyc

# File generati dall'OS (macOS)
.DS_Store

# Report e Log (File che cambiano spesso)
/report_iva.csv
*.log
